  <div id="features">
        <section class="wrapper">
            <div class="container" id="features-list">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/f1-icon.png" alt="feature-icon" id="f-1">
                        <div class="f-1">
                            <h2>What We Offer</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat.
                            </p>
                            <div >
                                <button class="btn read-more">Read More</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <img src="images/f2-icon.png" alt="feature-icon" id="f-2">
                        <div class="f-1">
                            <h2>Who We Are</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero interdum, id fringilla purus
                                feugiat.
                            </p>
                            <div >
                                <button class="btn read-more">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 last">
                        <img src="images/f3-icon.png" alt="feature-icon" id="f-3">
                        <div class="f-1">
                            <h2>Our Mission</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero interdum, id fringilla purus
                                feugiat. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat.
                            </p>
                            <div >
                                <button class="btn read-more">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="info">
            <div class="wrapper">
                <div class="container">
                    <img src="images/quote.png" alt="quote-icon" id="quote">
                    <p>Vivamus id feugiat ligula. Nulla facilisi. Integer lacus justo, elementum eget consequat a, molestie nec sapien. Quisque tincidunt, nunc vitae adipiscing</p>
                </div>
            </div>
            <div class="wrapper">
                <img src="images/additional-info.png" alt="additional-info-icon" id="additional-info">
            </div>
        </section>
        <!--End info-->

        <section id="home-gallery">
            <div class="wrapper">
                {{#this}}
                <div class="img-container">
                    <img src={{img}} class="img-thumbnail project-image" alt="Make A Wish">
                    <a href={{img}} class="zoom-icon fancybox" rel="media" title="Make A Wish">
                            Zoom In							</a>
                    <a href="#/materials/{{key}}" class="more-icon">Read more</a>
                </div>
                {{/this}} 
                <!-- end .img-container -->
                {{!-- <div class="img-container">
                    <img src="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/3.jpg" class="img-thumbnail project-image" alt="The Morning Dew">
                    <a href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/3.jpg" class="zoom-icon fancybox" rel="media" title="The Morning Dew">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/the-morning-dew/" class="more-icon">Read more</a>
                </div>
                <!-- end .img-container -->
                <div class="img-container">
                    <img src="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/4.jpg" class="img-thumbnail project-image" alt="Purple Haze">
                    <a href="http://www.youtube.com/watch?v=kkGeOWYOFoA" class="et-video zoom-icon et_video_lightbox" title="Purple Haze">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/purple-haze/" class="more-icon">Read more</a>
                </div>
                <!-- end .img-container -->
                <div class="img-container">
                    <img src="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/5.jpg" class="img-thumbnail project-image" alt="Bridge To Nowhere">
                    <a href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/5.jpg" class="zoom-icon fancybox" rel="media" title="Bridge To Nowhere">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/bridge-to-nowhere/" class="more-icon">Read more</a>
                </div>
                <!-- end .img-container -->
                <div class="img-container">
                    <img src="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/6.jpg" class="img-thumbnail project-image" alt="The Lonely Ladybug">
                    <a href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/6.jpg" class="zoom-icon fancybox" rel="media" title="The Lonely Ladybug">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/the-lonely-ladybug/" class="more-icon">Read more</a>
                </div>
                <!-- end .img-container -->
                <div class="img-container">
                    <img src="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/7.jpg" class="img-thumbnail project-image" alt="Monkeys Take a Bath">
                    <a href="http://www.youtube.com/watch?v=KXdUNp_9oHs" class="et-video zoom-icon et_video_lightbox" title="Monkeys Take a Bath">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/moneys-take-a-bath/" class="more-icon">Read more</a>
                </div>
                <!-- end .img-container -->
                <div class="img-container">
                    <img src="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/8.jpg" class="img-thumbnail project-image" alt="Birds of Beauty">
                    <a href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/8.jpg" class="zoom-icon fancybox" rel="media" title="Birds of Beauty">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/birds-of-beauty/" class="more-icon">Read more</a>
                </div>
                <!-- end .img-container -->
                <div class="img-container">
                    <img src="http://cdn.elegantthemes.com/preview/Envisioned/wp-content/uploads/et_temp/1-87600_140x94.jpg" class="img-thumbnail project-image" alt="Summer Wheat">
                    <a href="http://www.elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/1.jpg" class="zoom-icon fancybox" rel="media" title="Summer Wheat">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/summer-wheat/" class="more-icon">Read more</a>
                </div>
                <!-- end .img-container -->
                <div class="img-container">
                    <img src="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/shutterstock_5055934.jpg" class="img-thumbnail project-image" alt="Calm Before The Storm">
                    <a href="http://www.youtube.com/watch?v=KXdUNp_9oHs" class="et-video zoom-icon et_video_lightbox" title="Calm Before The Storm">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/calm-before-the-storm/" class="more-icon">Read more</a>
                </div>
                <!-- end .img-container -->
                <div class="img-container">
                    <img src="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/shutterstock_20951311.jpg" class="img-thumbnail project-image" alt="Bamboo Shoots">
                    <a href="http://elegantthemes.com/preview/DeepFocus/wp-content/uploads/2010/09/shutterstock_20951311.jpg" class="zoom-icon fancybox" rel="media" title="Bamboo Shoots">
                            Zoom In							</a>
                    <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/bamboo-shoots/" class="more-icon">Read more</a>
                </div> --}}
                <!-- end .img-container -->
            </div>
            <!-- end .container -->
        </section>

        <!--End recent work-->
    </div>
    <div class="clearfix"></div>