
<div class="wrapper">
       <div>
        <a class="category-path" href="#/home">Home</a>
        <span class="raquo">»</span> materials
    </div>
    <h2 id="above">Protfolio</h2>
<section class="pb-5" >
    <div class="container" >
        <div class="row">
            {{#this}}
            <div class="col-md-1-5">
                <div class="portfolio-img-container" >
                    <img  class="img-thumbnail" src={{img}} alt="">
                    <a href={{img}} class="zoom-icon"> Zoom In</a>
                    <a href="#/materials/{{key}}" class="more-icon">Read more</a>
                    </div>
                </div>
            {{/this}} 
           </div>
    </div>
</section>
</div>