<div id="nav-intermediate-space"></div>

<div class="wrapper">
        <div>
        <a class="category-path" href="#/home">Home</a>
        <span class="raquo">»</span> About Us
    </div>
    <h2 id="above">Add new material</h2>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6 mb-4">
                <h2>Add new material</h2>
                <div class="form-group">
                    <label for="tb-material-text">Title: </label>
                    <input id="tb-material-text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="tb-material-des">Description: </label>
                        <textarea  id="tb-material-des" class="form-control" name="" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tb-material-link">Image Link: </label>
                    <input id="tb-material-link" class="form-control" required>
                </div>
                <button class="btn read-more float-left " id="btn-material-add">Add Material</button>
            </div>
        </div>
    </div>
</div>