<div id="nav-intermediate-space"></div>

<div class="container">
    <div class="row justify-content-center">
  <div class="col-md-6  mb-4">
<h1>Register user</h1>
<div class="form-group">
    <label for="tb-username">Username: </label>
    <input id="tb-username" class="form-control" >
</div>
<div class="form-group">
    <label for="tb-avatar">Image-Avatar: </label>
    <input id="tb-avatar" class="form-control" >
</div>
<div class="form-group">
    <label for="tb-email">Email: </label>
    <input id="tb-email" class="form-control" >
</div>
<div class="form-group">
    <label for="tb-password">Password: </label>
    <input id="tb-password" class="form-control" type="password" >
</div>
<button class="btn read-more  float-left" class="form-control" id="btn-register">Register</button>
</div>
  </div>
</div>

